@import url('https://fonts.googleapis.com/css?family=Karla|Space+Mono&display=swap');

h1 {
	font-family:'Space Mono', monospace;
	font-size: 36px;
}

h2 {
	font-family: 'Space Mono', monospace;
	font-size: 16px;
}

h3 {
	font-family: 'Karla', sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	padding: 10px;
}

p {
	font-family: 'Karla', sans-serif;
}

section {
	padding: 0 50;
}


footer{

}


ul {
	list-style: none;
	text-decoration: underline;
}

#column {
    background-color: #FFB7CF;
}

#left {
    background-color: #E582A2;
    float: left;
    width: 33.3%;
}

#middle {
    background-color: #E582A2;
    float: left;
    width: 33.3%;
}

#right {
    background-color: #E55B88;
    float: left;
    width: 33.3%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}