@import url('https://fonts.googleapis.com/css?family=Karla|Space+Mono&display=swap');

body {
	color: #000235;
	background-color: #F9F9F9;
	font-family: 'Karla', sans-serif;
    max-width: 1400px;
    margin: auto;
    padding: 1em;
}

h1 {
	font-family:'Space Mono', monospace;
	font-weight: 100;
	font-size: 3em;
	padding: 2em 0;
}

h2 {
	font-family: 'Space Mono', monospace;
	font-size: 2em;
}

h3 {
	font-size: 1em;
	text-transform: uppercase;
}


header {
	align-items: center;
	display:flex;
	justify-content: space-between;
	padding: 1em;
	margin: 1em;
}

section {
	padding: 1em;
	margin: 1em;
}

footer {
	padding: 1em;
	margin: 1em;
}

nav a {
	padding: 1em;
	font-size: 1em;
	text-transform: uppercase;
}

a:hover {
	color: #000235;
}

img {
	width: 100%;
}

ul {
	list-style: none;
	float: right;
	padding: 0;
}

li {
	padding: .2em;
}

a {
	text-decoration: none;
	color: #F2A6F2;
}

#logo {
	max-width: 200px;
}

#cta {
	text-align: center;
	margin: 1em;
	padding: 2em;
}

#columns {
	display: flex;
	justify-content: space-between;
}

#float {
	float: left;
	padding: 1em;
}

#project {
	width: 30%;
}

#project:hover {
	color: #F2A6F2;
}

/*
#project {
    float: left;
    width: 31%;
    padding: 1%;
}
*/

#button {
	display: inline-block;
	padding: 1em 2em;
	background-color: #F2A6F2;
	color: #ffffff; 
	margin: 2em;
	border-radius: 3px;
}

#button:hover {
	background-color: #000235;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 920px) {

	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 1.5em;
	}

}

@media only screen and (max-width: 740px) {
	#columns {
		display: block;
	}
	#project {
		width: 100%;
		margin-top: 4em;
	}
	#logo {
		max-width: 150px;
	}

}

@media only screen and (min-width: 259px) and (max-width: 375px) {
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1em;
	}
	h3 {
		font-size: .75em;
	}
	ul {
		float:left;
		display: block;
		margin: 0;
	}

	header {
		display: block;
		padding: .5em;
		margin: .5em;
	}

	nav a {
	padding: 1em 1em 1em 0;
	}

	nav {
		padding: 30px 0;
	}
	body {
		padding: .2em;
	}
	section {
		padding: .5em;
		margin: .5em;
	}

	#float {
		float: none;
		padding: 1em 0 0 0;
	}
	#logo {
		max-width: 120px;
		margin: 0;
	}

	#cta {
		padding: 0;
	}
}


