@import url('https://fonts.googleapis.com/css?family=Karla|Space+Mono&display=swap');

body {
	margin: 0 10%;
	color: #000235;
	background-color: #F9F9F9;

}
h1 {
	font-family:'Space Mono', monospace;
	font-weight: 100;
	font-size: 48px;
	padding: 60px 0;
	width: 70%;
}

h2 {
	font-family: 'Space Mono', monospace;
	font-size: 26px;
}

h3 {
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

p {
	font-family: 'Karla', sans-serif;
}

header {
	padding: 50px 0;
	float:left;
}

nav {
	float: right;
}
section {
	padding: 50px 0;
}

img {
	width: 100%;
}

ul {
	font-family: 'Karla', sans-serif;
	list-style: none;
}

a {
	font-family: 'Karla', sans-serif;
	text-decoration: none;
	color: #F2A6F2;
}

#logo {
	max-width: 200px;
}

#cta {
	text-align: center;
}


#column {
    
}

#left {
    float: left;
    width: 31%;
    padding: 1%;
}

#middle {
    float: left;
    width: 31%;
    padding: 1%;
}

#right {
    float: left;
    width: 31%;
    padding: 1%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}