@import url('https://fonts.googleapis.com/css?family=Karla|Space+Mono&display=swap');

body {
	color: #000235;
	background-color: #F9F9F9;
	font-family: 'Karla', sans-serif;
    max-width: 1400px;
    margin: auto;
    padding: 1em;
}

h1 {
	font-family:'Space Mono', monospace;
	font-weight: 100;
	font-size: 3em;
	padding: 2em 0;
	width: 80%;
}

h2 {
	font-family: 'Space Mono', monospace;
	font-size: 2em;
}

h3 {
	font-size: 1em;
	text-transform: uppercase;
}


header {
	
}

nav a {
	display: inline-block;
	padding: 1em;
	float: right;
	font-size: 1em;
	text-transform: uppercase;
}

section {
	padding: 1em;
	margin: 1em;
}

img {
	width: 100%;
}

ul {
	list-style: none;
	float: right;
}

a {
	text-decoration: none;
	color: #F2A6F2;
}

#logo {
	max-width: 15%;
	margin-top: 2em;
	display: inline-block;
}

#cta {
	text-align: center;
	margin: 2em;
	padding: 4em;
}

#float {
	float: left;
	padding: 1em;
}

#project {
    float: left;
    width: 31%;
    padding: 1%;
}

#button {
	display: inline-block;
	padding: 1em 2em;
	background-color: #F2A6F2;
	color: #000235; 
	margin: 2em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}