@import url('https://fonts.googleapis.com/css?family=Karla|Space+Mono&display=swap');

h1 {
	font-family:'Space Mono', monospace;
}

h3 {
	font-family: 'Karla', sans-serif;
	text-transform: uppercase;
	padding: 10px;
}

p {
	font-family: 'Karla', sans-serif;
}

section {
	background-color: #FFE2B8;
	padding: 50px;
}

.projectwrapper {
	display:inline-block;
	padding:0 2em;
	}