@import url('https://fonts.googleapis.com/css?family=Karla|Space+Mono&display=swap');

h1 {
	font-family:'Space Mono', monospace;
}
h3 {
	font-family: 'Karla', sans-serif;
	text-transform: uppercase;

}

p {
	font-family: 'Karla', sans-serif;
}
